div{
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid ;
  width: 150px;
  height: 200px;
}
li{
  font-size: 15px;
}

a{
text-decoration: none;
}

a:hover{
  color: black;
}

a:visited{
  color: black;
}
