<h1>
  {{title}}
</h1>

<ul class="members">
  <li *ngFor="let member of members"[class.selected]="member===selectedMember"
      (click)="onSelect(member)">
    <span class="badge">{{member.id}}</span>
    <span>{{member.name}}</span>
    <!--<span><button id="delete"
                  (click)="delete(member); $event.stopPropagation()">x</button></span>-->
  </li>
</ul>
<div>
  <label>Member name:</label> <input #memberName />
  <button (click)="add(memberName.value); memberName.value=''">
    Add
  </button>
</div>

<member-detail [member]="selectedMember"></member-detail>
<member-search></member-search>


