#container {
  font-size: 1.5vw;
}

.box{
  margin: 20px 0 0 10px;
  display: grid;
  width: 90%;
  grid-gap:30px;
  grid-template-columns: 3fr 3fr 4fr;
  grid-template-rows: 10fr;
}

.box p{
  margin: 0 0 0 0;
}

.name{
  width: 30%;
}

.box input {
  font-size: 1vw;
  padding: 10px 0 10px 0;
}

#button_cmp{
  display: inline-block;
  margin: 4vh auto 4vh 40%;
}
#button_cmp input{
  font-size: 100%;
  margin-right: 4vh;
  cursor: pointer;
  background-color: #FFF;
  border-style: none;
  border: none;
  border-width: 1px;
  border-radius: 10px;
  padding: 5px 20px 5px 20px;
  color: #28AF78;
}

#button_cmp input:hover{
  background-color: #EEE;
}

