<div class="setting">
  <div class="title">
    <p style="font-weight:bold">個人設定</p>
  </div>
  <p style="font-weight:bold">氏名</p>
  <div class="sei">
    <pre>姓                    名</pre>
  </div>
  <div class="form_sei">
    <input type="text" placeholder="姓を入力して下さい">
  </div>
<div class="form_name">
  <input type="text" placeholder="名を入力して下さい">
</div>
<p style="font-weight:bold">写真</p>
<input type="file">
<div class="button_cmp">
  <input type="button" value="完了" onclick="" >
</div>
<div class="button_cancel">
  <input type="button" value="キャンセル" onclick="" >
</div>
</div>
