<div class="add">
  <div class="title">
    <p style="font-weight:bold">新規追加</p>
  </div>
  <p style="font-weight:bold">氏名</p>
  <div class="sei">
    <pre>姓                    名</pre>
  </div>
  <div class="form_sei">
    <input type="text" placeholder="姓を入力して下さい">
  </div>
<div class="form_name">
  <input type="text" placeholder="名を入力して下さい">
</div>
<p style="font-weight:bold">写真</p>
<input type="file">
<p style="font-weight:bold">メールアドレス</p>
<div class="form_mail">
  <input type="text" placeholder="メールアドレスを入力して下さい" style="width:350px;">
  <br><br>
  <input type="text" placeholder="パスワードを入力してください" style="width:350px;">
</div>
<p style="font-weight:bold">パスワード</p>
<div class="button_add">
  <input type="button" value="追加" onclick="" >
</div>
<div class="button_cancel">
  <input type="button" value="キャンセル" onclick="" >
</div>
</div>
